* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

/* Seconda sezione */
#connection {
    background-color: #F6F6F6;
    padding: 60px 30px;
}

#connection>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#connection .section-text {
    width: 45%;
}