/* General Settings */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Whitney", sans-serif;

}

img {
    max-width: 100%;
}

/* Feature Styling */
.feature {

    /* Flex Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */

    /* Size */
    padding: 3em 5%;
    width: 100%;

    /* Colors */
    background-color: white;
}

section.feature>* {
    flex: 0 0 50%;
}


section.feature .left {
    display: flex;
    justify-content: flex-end;
}

section.feature h2 {
    font-size: xxx-large;
    margin-bottom: 1em;
}

section.feature p {
    font-size: large;
    /* font-weight: 100; */
}