#last-wave {
    width: 100%;
    filter: invert(.9);
    margin-bottom: -50px;
}

#last-section {
    background-color: #e5e5e5;
    text-align: center;
    padding: 100px 0;
}

#last-section .container {
    width: 1120px;
    margin: 0 auto;
}

#last-section #big-img {
    width: 100%;
}

#last-section #text {
    width: 940px;
    margin: 0 auto;
    font-size: 21px;
}

#last-section #text h2 {
    font-size: 2.3em;
    margin-bottom: 35px;
}

#last-section #cta {
    background-image: url('img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    padding: 35px 30px;
    width: fit-content;
    margin: 0 auto;
}

#last-section h3 {
    font-size: 30px;
}

#last-section button {
    color: #fff;
    background-color: #7289da;
    font-size: 17px;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
}

/* General Settings */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Whitney", sans-serif;

}

img {
    max-width: 100%;
}

/* Feature Styling */
.feature {

    /* Flex Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */

    /* Size */
    padding: 3em 5%;
    width: 100%;

    /* Colors */
    background-color: white;
}

section.feature>* {
    flex: 0 0 50%;
}

section.feature .left {
    display: flex;
    justify-content: flex-end;
}

section.feature h2 {
    font-size: xxx-large;
    margin-bottom: 1em;
}

/* Seconda sezione */
#connection {
    background-color: #F6F6F6;
    padding: 60px 30px;
}

#connection>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#connection .section-text {
    width: 45%;
}

#connection .section-image {
    width: 65%;
}

#connection h2 {
    font-size: 2.6rem;
}

#connection p {
    padding-top: 20px;
    font-size: 1.2rem;
    line-height: 30px;
}

/* ! Reset */
body,
html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ol,
ul {
    list-style-type: none;
}

img {
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(195, 193, 193);
    transition: 0.3s;
}

hr {
    border-bottom: 1px solid #8EA1E1;
    width: 80%;
    margin-top: 20px;
}

/* Header */
header {
    background-image: url(img/jumbo.png);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    display: inline;
    margin: 15px;
}

.jumbotron {

    color: white;
    text-align: center;
}

/*----------------------- End header */

/*----------------------- Elements */

.container {
    width: 80%;
    margin: 0 auto;
}

.container--footer {
    display: flex;
}

.container--2 {
    width: 45%;
    margin-top: 55px;
}

.button {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 8px;
}

.button-dark {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 8px;
}

.buttons p {
    display: inline-block;
    margin: 10px;
}

.button a {
    color: black;
}

.button--dark a {
    color: black;
}

/* -----------------End elements */